Circuit-Schematic-AdeeptMotorShield-V2.0.pdf
Manual-PiCar-B-V1.0-Compressed.pdf
Related.txt
code/Adeept_PiCar-B-master/LICENSE
code/Adeept_PiCar-B-master/README.md
.gitignore
datasheet/GS2678.pdf
datasheet/L298.pdf
datasheet/PCA9685.pdf
